* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
/* CONTACTO HTML */

main {
    background-color: brown;
    /* Hace que ocupen el 100% de viewport /área visible del usuario de una página web */
    width: 100vw;
    height: 100vh;
    /* al crear mucho contenido dentro del main, llegara un momento donde
    llegue a su limite */
    
}

section {

    width: 80%;
    /* Cuando usemos un min widht min or max, necesitamos tener un width base en porcentaje*/
    min-width: 100px; 
    max-width: 500px;
    /* En este caso no necesitamos un height base */
    min-height: auto;
    max-height: auto;
    margin: 0 auto;
    background-color: antiquewhite;
}