* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 75%;
}

main h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: inherit;
}

.herencia h6{
    
    font-size: inherit;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    width: 100%;
    padding: 20px 50px;
    border: 10px solid yellow;
}

.main-nav {
    background-color: aquamarine;
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

.main-nav__item {
    display: inline-block;
    background-color: aliceblue;
    padding: 10px;
}

.main-nav__item a {
    background-color: rgb(176, 188, 179);
    padding: 2px;
    border-radius: 4px;
    text-decoration: none;

}

/*Pseudo clases*/

.main-nav__item a:hover {
    background-color: blue;
}

.main-nav__item a:active {
    background-color: yellow;
}


/*Pseudo elementos*/
.main-nav__item a::after {
    content: "  |";
    color: blanchedalmond;
    
}

/* Combinadores */

.combinadores {
    margin: 20px 0px;
}

.combinadores div + p {
    color: brown;
}

.combinadores-child div p {
    color: blue;
}